.logo-container {
    text-align: center;
    margin: 20px 0 0 0;
}

.home-logo {
    width: 100%;
    max-width: 400px;
    transition: transform 0.3s ease;
    margin: 20px auto 5px auto;
    display: block;
    cursor: pointer; /* el cursor va en la imagen */
}


    .home-logo:hover {
        transform: scale(1.05);
    }

body {
    margin: 0;
    font-family: Arial, sans-serif;
    position: relative;
    color: #fff; /* texto blanco para buen contraste */
    min-height: 100vh;
    /* Evita scroll horizontal en toda la página pero permite scroll en elementos con overflow */
    overflow-x: visible;
    max-width: 100vw; /* evita que el body se desborde horizontalmente */
    padding-bottom: 100px;
}

    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('/images/fondo.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: brightness(0.85); /* opcional: oscurece un poco para texto */
        z-index: -1;
    }
